<section class="banner">
  <div class="banner-img_top">
      <img src="{{ 'Frame_top.png' | asset_url }}" alt="Banner Image">
  </div>
  <div class="banner-container">
    <div class="banner-content">
    <h1>{{ section.settings.banner_heading }} </h1>
    <p>{{ section.settings.banner_subheading }}</p>
    <button class="animated-button banner-button" onClick="location.href='{{ section.settings.button_link }}'">{{ section.settings.button_text }}
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
    </button>
  </div>
  <div class="banner-img_bottom">
      <img src="{{ 'Frame_bottom.png' | asset_url }}" class="banner-img" alt="Banner Image">
  </div>
  </div>
</section>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Banner Heading",
        "default": "The Gift Guide"
      },
      {
        "type": "text",
        "id": "banner_subheading",
        "label": "Banner Subheading",
        "default": "Discover Joy: Your Ultimate Holiday Gift Destination. <br>Explore our curated selection and find the perfect gifts to<br>delight your loved ones this holiday season."
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SHOP NOW ->"
      }
    ]
  }
  
{% endschema %}